# Ignore everything
*

# But not these files...
!index.html
!LICENSE.txt
!package-lock.json
!package.json
!public/
!README.md
!src/
!vite.config.js

# Even if they are in subdirectories
!*/


# Ignore node_modules even if it's in a tracked directory
node_modules/
!/public/**
!/src/**